@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
  *{
    box-sizing: border-box;
    margin: 0; padding: 0;
  }
  body{
    /* background: #F2F2F2; */
  }
  
  @font-face {
    font-family: "ttinterfaces";
    font-weight: 400;
    src: url("./assets/fonts/TTInterfaces-Regular.ttf");
  }

  @font-face {
    font-family: "ttinterfaces";
    font-weight: 500;
    src: url("./assets/fonts/TTInterfaces-Medium.ttf");
  }

  @font-face {
    font-family: "ttinterfaces";
    font-weight: 700;
    src: url("./assets/fonts/TTInterfaces-Bold.ttf");
  }
}


.container{
  @apply max-w-[1200px] mx-auto my-0;
}

