@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
  *{
    box-sizing: border-box;
    margin: 0; padding: 0;
  }
  
  @font-face {
    font-family: "ttinterfaces";
    font-weight: 400;
    src: url("./assets/fonts/TTInterfaces-Regular.woff2");
  }

  @font-face {
    font-family: "ttinterfaces";
    font-weight: 500;
    src: url("./assets/fonts/TTInterfaces-Medium.woff2");
  }

  @font-face {
    font-family: "ttinterfaces";
    font-weight: 700;
    src: url("./assets/fonts/TTInterfaces-Bold.woff2");
  }

  @font-face {
    font-family: "gtwp";
    font-weight: 400;
    src: url("./assets/fonts/gtwp-reg.ttf");
  }

  @font-face {
    font-family: "gtwp";
    font-weight: 500;
    src: url("./assets/fonts/gtwp-med.ttf");
  }

  @font-face {
    font-family: "gtwp";
    font-weight: 700;
    src: url("./assets/fonts/gtwp-bold.ttf");
  }

  body{
    font-family: "gtwp";
  }
}


.container{
  @apply max-w-[1200px] mx-auto my-0;
}

